.nav{
  border: 2px solid black;
  width: 100%;
  height: 200px;
  border-radius: 30px;
  background-color: blueviolet;
  color: white;
}
.h1{
  text-align: center;
}

.link{
  color: white;
  
}

.linkdiv{
  display: flex;
  gap: 40px;
  margin-top: 100px;
  margin-left: 100px;
}

.btn{
  color:white ;
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
  
}
