.h2{
    margin-top: 40px;
    font-size: 70px;
}

.inputdiv{
    margin-left: 30px;
   
}

.inp{
    margin-right: 20px;
}

.postdiv{
    margin-top: 20px;
    border: 2px solid black;
    padding: 20px;

}